/* Header */
.background {
    background-color: #925E78;
}
.nav-bar {
    background-color: #F2EDEB;
    color: #0c2a54;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
#nav-title {
    padding: 10px;
}
#nav-item {
    padding: 10px;
    background-color: #FABC2A;
    color: #0c2a54;
    border-radius: 15px;
    font-size: 25px;
}

a:link {
    color: #0c2a54;
    text-decoration: none;
}
a:visited {
    color: #0c2a54;
    text-decoration: none;
}
a:hover {
    color: #b75858;
  }